<!-- NG-ZORRO -->
<nz-layout>
  <nz-header class="header">
      Soc Sci 2
  </nz-header>
  <nz-content>
    <div class="parallax"></div>
    <h1>Header here</h1>
    <div class="content">
      <nz-tabset nzType="card">
        <nz-tab nzTitle="AGF 1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
          Vero facilis similique molestiae ullam rerum blanditiis consequatur <br>
          neque aperiam culpa itaque quam inventore fugiat, <br> 
          quas dolores quod facere ipsam, nihil non! <br>
          more lorem stuff for scroll showing<br><br>
          For this AGF, the group was tasked to look <br>
          at different articles, websites, or social <br>
          media posts that may contain suspicious or <br>
          misleading content and use our critical and <br>
          philosophical thinking to do fact-checking. <br>
          Several group members were able to find fake <br>
          news in their day to day online conversations <br>
          and while scrolling through social media. <br>
          Of these, we will be showcasing three.
        </nz-tab>
        <nz-tab nzTitle="AGF 2">
          AGF #2 data here
        </nz-tab>
        <nz-tab nzTitle="AGF 3">
          Wabalubba dubdub
        </nz-tab>
        <nz-tab nzTitle="AGF 4">
          Hissatsu!
        </nz-tab>
        <nz-tab nzTitle="AGF 5">
          Tab asdasd
        </nz-tab>
        <nz-tab nzTitle="AGF 6">
          Tab adgfg
        </nz-tab>
        <nz-tab nzTitle="AGF 7">
          Tab cvbgf
        </nz-tab>
        <nz-tab nzTitle="AGF 8">
          Tab ergdf
        </nz-tab>
        <nz-tab nzTitle="AGF 9">
          Tab dsadasd
        </nz-tab>
    </nz-tabset>
    </div>
    <div class="parallax2"></div>
    <h1>Members</h1>
    <div class="content">
      <nz-table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Contribution</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of memCont">
            <td>
                {{ data.name }}
            </td>
            <td>
              {{ data.cont }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>